{% extends 'shared/base.html' %}
{% block content %}
<div class="accordion d-flex flex-column" id="accordion_main">
	<div class="card flex-grow-2">
		<div class="card-header" id="accordion_data_header"> 
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#data_table" aria-expanded="true" aria-controls="data_table">
				Data Table 
			</button>
		</div>
		<div class="collapse show" aria-labelledby="accordion_data_header" data-bs-parent="#accordion_main" id="data_table">
			{% include 'shared/data_table.tpl' %}
			<div class="container-fluid d-flex p-1">
				<!-- <form id="import_form" method="POST" enctype="multipart/form-data" action="import" hidden>
					<input id="import_file" type="file" name="file" accept=".csv,.xlsx" onchange="submit_file(event)"></input>
				</form>
				<button class="mx-2 btn btn-info" onclick="choose_file(event, false)">Import</button>
				<button class="mx-2 btn btn-info" onclick="choose_file(event, true)">Import &amp; Replace</button>
				<a class="mx-2 btn btn-info" href="export" target="_blank" download>Export</a>
				<button class="mx-2 btn btn-warning" onclick="rollback(event)">Rollback</button>
				<span class="m-2" id="io_result"></span> -->
				<div class="input-prepend mx-2 ml-auto"> <!-- Push the rest to the left -->
					<button type="button" id="add_to_group_btn" class="btn btn-info" onclick="add_to_group(event)">Add to Group 1</button>
					<button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"></button>
					<ul class="dropdown-menu">
						<li><button type="button" class="btn btn-link" onclick="switch_add_group(1)">To Group 1 (Blue)</button></li>
						<li><button type="button" class="btn btn-link" onclick="switch_add_group(2)">To Group 2 (Green)</button></li>
						<li><button type="button" class="btn btn-link" onclick="switch_add_group(3)">To Group 3 (Red)</button></li>
						<li><button type="button" class="btn btn-link" onclick="switch_add_group(4)">To Group 4 (Yellow)</button></li>
					</ul>
				</div>
				<button class="mx-2 btn btn-success" onclick="create_questionnaire(event)">Use Selected</button>
		</div>
		</div>
	</div>

	<div class="card flex-shrink-1">
		<div class="card-header" id="accordion_category_header"> 
			<button class="btn btn-link" type="button" id="category_selector_btn" data-toggle="collapse" data-target="#category_selector" aria-expanded="true" aria-controls="category_selector" disabled>
				Category Selector 
			</button>
		</div>
		<div class="collapse" aria-labelledby="accordion_category_header" data-bs-parent="#accordion_main" id="category_selector">
			<div id="classifier_wrapper">
				<label id="questionnaire_items"> Waiting for button click...</label>
				<br />
				<label class="mt-3"> Click box to reassign category (upto 4 categories allowed): </label>
				<div class="d-flex flex-wrap border border-dark" id="barebone_classifier"></div>
				<label class="mt-3"> Questionnaire setting: </label>
				<br />
				{% include 'shared/session_option.tpl' %}
				<button class="my-2 btn btn-success" onclick="submit_questionnaire(event)">Build Questionnaire</button>
			</div>
		</div>
	</div>

	<div id="classifier" hidden> 
		<p>WIP, delay for now.</p>
		{% for i in range(5) %}
		<div class="m-2 p-2 border border-3" id="section{{i}}" ondrop="drop(event)" ondragover="allowDrop(event)"> 
			<div class="bg-secondary" draggable="true" ondragstart="drag(event)" id="{{i*2}}" width="336">Test No.{{i}} </div>
		</div>
		{% endfor %}
	</div>

	<div class="card" id="result_panel" style="display: none;">
		<div class="card-header" id="accordion_result_header"> 
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#result_frame" aria-expanded="true" aria-controls="result_frame">
				Result
			</button>
		</div>
		<div class="p-2 collapse show" aria-labelledby="accordion_result_header" data-bs-parent="#accordion_main" id="result_frame">
			<div id="result_good">
				Admin page: <a id="admin_link" href="#" target="_blank">Not Available</a>
				<br />
				Exam page: <a id="exam_link" href="#" target="_blank">Not Available</a>
				<br />
				Make sure to copy them into a safe location; these values cannot be retrieved (for now).
			</div>
			<div id="result_bad">
				The questionnaire cannot be created due to
				<span class="text-danger" id="result_bad_error"></span>
				Full traceback:
				<span class="text-warning" id="result_bad_traceback"></span>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css"> </script>
-->
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>
<script src={{ url_for('static', filename="utils.js") }}></script>
<script src={{ url_for('static', filename="table.js") }}></script>
<script src={{ url_for('static', filename="session_option.js") }}></script>
<script src={{ url_for('static', filename="build.js") }}></script>
<script>
	$(document).ready(function() {
		console.log("Document ready, initializing");
		// bind the grace period checkbox to the input 
		$("#allow_grace").click(function() {
			$("#grace_duration").attr("disabled", $(this).is(":checked"));
		});
		// activate the datetimepicker options
		//$("#start_date_picker").datetimepicker();
		$(".datepicker").datepicker({
			format: "dd-mm-yyyy",
			todayHighlight: true,
		});
		// clicking the show of Data Table card will collapse the Category Selector & Result
		$("#data_table").on("show.bs.collapse", function() { 
			$("#category_selector").collapse('hide'); 
			$("#result_frame").collapse('hide');
		});
	});
</script>
{% endblock %}

