{% extends 'shared/base.html' %}
<!-- Appropriate form of the campaign game.
Each player have an amount of units to be distributed on all its controlled tiles. It also have a "capital", which is either its first starting tile, or the highest value tile the player still control
Each tile have a score, the sum of this score decide the amount of units each player has. If the number exceeded this sum, units are disbanded randomly. If the number is less, new units will spawn in any tile -3 away from nearest hostile tile.
For every turn, each player get to move a number of adjacent units against one external tile. If that exceeds the units presently on the tile, the tile is captured by half of the remaining attacking unit. If not, substract upto -1 of attacker units on both side.
Winning condition is achieved by having 75% of total tile points.
-->
{% block content %}
<div style="display: flex;">

<div id="canvas_wrapper" class="m-2 p-2">
	<div id="canvas" style="position: relative; width: 1000px; height: 1000px; display: inline-block;">
	{% for x, y, width, height, pointlist, attr in polygons %}
	<svg height="{{height}}" width="{{width}}" style="position: absolute; top: {{y}}px; left: {{x}}px" id="region_{{loop.index0}}">
		<polygon 
			points="{% for px, py in pointlist %} {{px}},{{py}} {% endfor %}"
			style="fill:{{attr.get("fg", "lime")}};stroke:{{attr.get("bg", "black")}};stroke-width:1" />
		{% if "center" in attr %}
			{% if "name" in attr %}
				<g font-size="20" fill="black" text-anchor="middle" style="stroke-width:.5;">
					<text x="{{attr["center"][0]}}" y="{{attr["center"][1]}}" id="region_name_{{loop.index0}}">
						{{attr["name"]}}
					</text>
				</g>
			{% endif %}
			{% if "text" in attr %}
				<g font-size="16" fill="black" text-anchor="middle">
					<text x="{{attr["center"][0]}}" y="{{attr["center"][1] + 20}}" id="region_text_{{loop.index0}}">
						{{attr["text"]}}
					</text>
				</g>
			{% endif %}
		{% endif %}
	</svg>
	{% endfor %}
	{% for x, y, width, height, arrow in arrows %}
	<svg height="{{height}}" width="{{width}}" style="position: absolute; left: {{x}}px; top: {{y}}px;">
		<defs>
			<marker id="head{{loop.index}}"
				{% for attr, val in arrow["arrowhead"].items() %}
					{{attr}}="{{val}}"
				{% endfor %}>
				{% set ap = arrow["arrowhead_poly"] %}
				<path d="M {{ap[0][0]}},{{ap[0][1]}} L {{ap[1][0]}},{{ap[1][1]}} L {{ap[2][0]}},{{ap[2][1]}} z" fill="{{arrow["color"]}}">
				</path>
			</marker>
		</defs>
		{% set pts = arrow["points"] %}
		<path d="M {% for p, q in pts %} 
			{% if q %}
			Q {{q[0]}},{{q[1]}}
			{% endif %}
			{{p[0]}},{{p[1]}}
		{% endfor %}"  
		stroke="{{arrow["color"]}}"
		stroke-width="{{arrow["thickness"]}}"
		{% if "dash" in arrow and arrow["dash"] %}
			stroke-dasharray="{{arrow["dash"]}},{{arrow["dash"]}}"
		{% endif %}
		fill="none"
		marker-end="url(#head{{loop.index}})"
		/>
	</svg>
	{% endfor %}
	</div>
</div> 

<div id="command_panel" class="h-100 d-flex flex-column p-2" style="display: inline-block; vertical-align: top; width: 100%;">
	<ul class="nav nav-tabs mb-2" id="phase_tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link" href="#" id="tab_deploy">Deployment</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" id="tab_move">Movement</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" id="tab_attack">Attack</a>
		</li>
	</ul>
	<div class="tab-content" id="phase_content">
		<ul class="list-group list-group-flush" id="deploy_content">
			{% for deploy, deploy_id, max_deploy in deploys %}
				<li class="list-group-item" id="deploy_field_{{loop.index0}}" deploy_source="{{deploy_id}}"> 
					<span>At</span>
					<span><b>{{deploy}}</b></span>
					<input type="number" class="form-control attack_amount" min="0" max="{{max_deploy}}" />
				</li>
			{% endfor %}
		</div>
		<ul class="list-group list-group-flush" id="move_content">
			{% if moves is defined %}
				{% for source, source_id, targets, max_move in moves %}
				<li class="list-group-item" id="move_field_{{loop.index0}}" move_source="{{source_id}}">
					<span><b>({{max_move}})</b></span> 
					<span> from </span> 
					<span><b>{{source}}</b></span> 
					<table>
						{% for target, target_id in targets %}
							<tr>
								<td>
									<span> &rarr;</span> 
									<span><b>{{target}}</b></span> 
								</td>
								<td>
									<input type="number" class="form-control move_amount" min="0" max="{{max_move}}" onchange="check_move_vectors(event)"/>
								</td>
							</tr>
						{% endfor %}
					</table>
				</li>
				{% endfor %}
			{% endif %}
		</ul>
		<ul class="list-group list-group-flush" id="attack_content">
			{% if attacks is defined %}
				{% for source, target, source_id, target_id, max_strength in attacks %}
				<li class="list-group-item" id="attack_field_{{loop.index0}}" attack_source="{{source_id}}" attack_target="{{target_id}}" onclick="toggle_attack_vector(event)">
					<span><b>{{source}}</b></span> 
					<span> &rarr;</span> 
					<span><b>{{target}}</b></span> 
					<input type="number" class="form-control attack_amount" min="0" max="{{max_strength}}" />
				</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div id="button-bar">
		<button class="btn btn-primary m-2" id="execute_btn" onclick="alert('testing')" {% if current_phase == "end" %}disabled{% endif %}>Execute</button>
		<button class="btn btn-primary m-2" id="next_btn" onclick="perform_and_reload(event, 'next')" {% if current_phase != "enddsb" %}disabled{% endif %}>Next</button>
	</div>
	<div id="log">
	</div>
</div>

</div>
{% endblock %}

{% block script %}
<script src={{ url_for('static', filename="utils.js") }}></script>
<script src={{ url_for('static', filename="campaign.js") }}></script>
{% endblock %}
