{% extends 'shared/base.html' %}
<!-- Appropriate form of the campaign game.
Each player have an amount of units to be distributed on all its controlled tiles. It also have a "capital", which is either its first starting tile, or the highest value tile the player still control
Each tile have a score, the sum of this score decide the amount of units each player has. If the number exceeded this sum, units are disbanded randomly. If the number is less, new units will spawn in any tile -3 away from nearest hostile tile.
For every turn, each player get to move a number of adjacent units against one external tile. If that exceeds the units presently on the tile, the tile is captured by half of the remaining attacking unit. If not, substract upto -1 of attacker units on both side.
Winning condition is achieved by having 75% of total tile points.
-->
{% block content %}
<div class="m-2 p-2" style="position: relative;">
		{% for x, y, width, height, pointlist, attr in polygons %}
		<svg height="{{height}}" width="{{width}}" style="position: absolute; top: {{y}}px; left: {{x}}px" id="region_{{loop.index0}}">
			<polygon 
				points="{% for px, py in pointlist %} {{px}},{{py}} {% endfor %}"
				style="fill:{{attr.get("fg", "lime")}};stroke:{{attr.get("bg", "black")}};stroke-width:1" />
			{% if "center" in attr %}
				{% if "name" in attr %}
					<g font-size="20" fill="black" text-anchor="middle" style="stroke-width:.5;">
						<text x="{{attr["center"][0]}}" y="{{attr["center"][1]}}" id="region_name_{{loop.index0}}">
							{{attr["name"]}}
						</text>
					</g>
				{% endif %}
				{% if "text" in attr %}
					<g font-size="16" fill="black" text-anchor="middle">
						<text x="{{attr["center"][0]}}" y="{{attr["center"][1] + 20}}" id="region_text_{{loop.index0}}">
							{{attr["text"]}}
						</text>
					</g>
				{% endif %}
			{% endif %}
		</svg>
		{% endfor %}
		{% for x, y, height, width, arrow in arrows %}
		<svg height="{{height}}" width="{{width}}" style="position: absolute; left: {{x}}, top {{y}}">
			<defs>
				<marker id="head{{loop.index}}"
					{% for attr, val in arrow["arrowhead"].items() %}
						{{attr}}="{{val}}"
					{% endfor %}>
					{% set ap = arrow["arrowhead_poly"] %}
					<path d="M {{ap[0][0]}},{{ap[0][1]}} L {{ap[1][0]}},{{ap[1][1]}} L {{ap[2][0]}},{{ap[2][1]}} z" fill="{{arrow["color"]}}">
					</path>
				</marker>
			</defs>
			{% set pts = arrow["points"] %}
			<path d="M {% for p, q in pts %} 
				{% if q %}
				Q {{q[0]}},{{q[1]}}
				{% endif %}
				{{p[0]}},{{p[1]}}
			{% endfor %}"  
			stroke="{{arrow["color"]}}"
			stroke-width="{{arrow["thickness"]}}"
			fill="none"
			marker-end="url(#head{{loop.index}})"
			/>
		</svg>
		{% endfor %}
	</div>
{% endblock %}

{% block script %}
{% endblock %}
