{% extends 'shared/base.html' %}
{% block content %}
<div class="container-fluid">
	<h1>Converter tool from text-based to table</h1>
	<p>TODO: table can direct copy to clipboard into excel, direct import to database after fixes</p>
</div>

<div class="container-fluid">
	<div class="form-group" id="raw_text_wrapper" style="display: none;">
		<label for="raw_text"><b>Raw Text:</b></label>
		<div id="raw_text" class="border" style="max-height: 300px; overflow-y: auto;"> </div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6 form-group">
			<label for="file_import">Import: </label>
			<input type="file" class="form-control-file" accept=".txt,.docx" id="file_import" onchange="update_text(event)"> </input>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="choose_template_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Choose Template </button>
				<div class="dropdown-menu" aria-labelledby="choose_template_dropdown">
					<button class="btn btn-link" onclick="choose_template(0)">No template</button>
					<div class="dropdown-divider"></div>
					<button class="btn btn-link" onclick="choose_template(1)">Q: [Câu XX:/Câu XX.] A: [A. B. C. D.]</button>
					<button class="btn btn-link" onclick="choose_template(2)">Q: [Bài XX:/Bài XX.] A: [A. B. C. D.]</button>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<input type="checkbox" id="cue_is_regex">Regex mode</input>
			<button class="btn btn-info" id="upload_btn" onclick="convert_text()">Parse</button>
		</div>
		<div class="border border-secondary col-md-3 col-sm-6">
			<label class="d-sm-block" for="question_header"> Question Header: </label>
			<input type="text" id="question_header" onchange="update_highlight(event)" placeholder="Question Header"></input>
		</div>
	</div>
	<div class="row">
		<div class="border border-primary col-md-3 col-sm-6">
			<label class="d-sm-block" for="answer1_header"> Answer(1) Header: </label>
			<input type="text" id="answer1_header" onchange="update_highlight(event)" placeholder="(1) Header"></input>
		</div>
		<div class="border border-success col-md-3 col-sm-6">
			<label class="d-sm-block" for="answer2_header"> Answer(2) Header: </label>
			<input type="text" id="answer2_header" onchange="update_highlight(event)" placeholder="(2) Header"></input>
		</div>
		<div class="border border-danger col-md-3 col-sm-6">
			<label class="d-sm-block" for="answer3_header"> Answer(3) Header: </label>
			<input type="text" id="answer3_header" onchange="update_highlight(event)" placeholder="(3) Header"></input>
		</div>
		<div class="border border-warning col-md-3 col-sm-6">	
			<label class="d-sm-block" for="answer4_header"> Answer(4) Header: </label>
			<input type="text" id="answer4_header" onchange="update_highlight(event)" placeholder="(4) Header"></input>
		</div>
	</div>
</div>
<div class="container-fluid table-responsive my-2" id="parse_table_wrapper" style="display: none;">
	<table class="table table-hover table-bordered" id="parse_table" style="display: block; max-height: 600px; overflow: auto;">
		<thead class="thead-light">
			<tr>
				<th style="position: sticky; top: 0;">Question</th>
				<th style="position: sticky; top: 0;">Answer 1</th>
				<th style="position: sticky; top: 0;">Answer 2</th>
				<th style="position: sticky; top: 0;">Answer 3</th>
				<th style="position: sticky; top: 0;">Answer 4</th>
				<th style="position: sticky; top: 0;">Correct</th>
				<th style="position: sticky; top: 0;">
					<input id="category_all" type="text" placeholder="Category"></input>
				</th>
				<th style="position: sticky; top: 0;">
					<input id="tag_all" type="text" placeholder="Tag"></input>
				</th>
				<th style="position: sticky; top: 0;">
					<button class="btn btn-link p-0" onclick="toggle_use(event)">Use</button>
				</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="container-fluid d-flex">
		<button class="btn border border-info" onclick="copy_to_clipboard(event)" disabled>Copy All to Clipboard</button>
		<span class="ml-auto text-success p-2" id="save_status"></span>
		<button class="btn btn-info" onclick="save_csv(event)">Save as CSV</button>
	</div>
</div>
{% endblock %}

<!-- 
	csv exported in UTF-8 might be screwed when double-clicked on Windows, due to it using the 1252-WE encoding 
	To circumvent, in an opened Excel session, go Data -> Get Data -> From Text/CSV -> choose the file -> select File Origin to 65001 (UTF-8).
	If the data created from this has column1...; that can be fixed by going Transform Data -> [Transform tab]Use First row as Headers
	See https://howardsimpson.blogspot.com/2019/08/excel-import-csv-not-using-use-first-row-as-headers.html
-->

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.37.10/docxtemplater.js"></script>
<script src="https://unpkg.com/pizzip@3.1.4/dist/pizzip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<script src="https://unpkg.com/pizzip@3.1.4/dist/pizzip-utils.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
<script src={{ url_for('static', filename="utils.js") }}></script>
<script src={{ url_for('static', filename="convert.js") }}></script>
{% endblock %}

