{% extends 'shared/base.html' %}
{% block content %}
{% include 'shared/data_table.tpl' %}
<div class="container-fluid d-flex p-1" id="legend">
	<span class="m-1"><b>Correct Answer:</b></span>
	<div class="m-1 bg-success border" style="width: 25px; height: 25px;"></div>
	<span class="m-1">Single Choice</span>
	<div class="m-1 bg-info border" style="width: 25px; height: 25px;"></div>
	<span class="m-1">Multiple Choice</span>
	<span class="m-1 pl-3"><b>Duplicate:</b></span>
	<div class="m-1 bg-warning border" style="width: 25px; height: 25px;"></div>
	<span class="m-1">Older</span>
	<div class="m-1 bg-danger border" style="width: 25px; height: 25px;"></div>
	<span class="m-1">Newer</span>
</div>
<div class="container-fluid d-flex p-1" id="button_bar">
	<button class="mx-2 btn btn-info" onclick="choose_file(event, false)">Import</button>
	<button class="mx-2 btn btn-warning" onclick="choose_file(event, true)">Import &amp; Replace</button>
	<button class="mx-2 btn btn-info" onclick="export_file(event)">Export</button>
	<button class="mx-2 btn btn-warning ml-auto" onclick="rollback(event)">Rollback</button>
	<button class="mx-2 btn btn-danger" data-toggle="modal" data-target="#confirmation_modal" onclick="update_modal_delete(event)">Delete Selected</button>
</div>
<div hidden>
	<a href="export" target="_blank" id="export_link" download>Export</a>
	<form id="import_form" method="POST" enctype="multipart/form-data" action="import">
		<input id="import_file" type="file" name="file" accept=".csv,.xlsx" onchange="submit_file(event)"></input>
	</form>
</div>
<div class="container-fluid d-flex p-1">
	<div class="spinner-border" role="status" id="spinner" style="display: none;">
		<span class="sr-only">Loading...</span>
	</div>
	<span class="m-2" id="io_result"></span>
</div>
{% include 'shared/modal.tpl' %}
{% endblock %}
{% block script %}
<script src={{ url_for('static', filename="table.js") }}></script>
<script src={{ url_for('static', filename="edit.js") }}></script>
<script>
	$(document).ready(function() {
		// load the data when ready 
		get_and_reupdate_question();
	});
</script>
{% endblock %}
