{% extends 'shared/base.html' %}
{% block stylesheet %}
	<link rel="stylesheet" href={{ url_for('static', filename="styles/exam.css") }}>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a class="navbar-brand" href="#">Exam</a>
	<div class="progress container" id="timer_wrapper">
		<div id="timer" class="row progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">00h00s</div>
	</div>
</nav> 
<div class="container-fluid">
	<h1>Exam Page</h1>
	<span>Examinee: <b>{{ student_name }}</b> </span><br />
	<span>Test name: <b>{{ exam_setting["session_name"] }}</b></span><br />
	
	<span>Duration: 
	{% if "exam_duration" in exam_setting %}
		<b>{{ exam_setting["exam_duration"] }}</b>min
	{% else %}
		<u>Unlimited</u>
	{% endif %}
	</span>
	<!-- <p>You are advised to save <a href="#">the current link</a> somewhere, or there is a risk of losing all your progress.</p> -->
	<span class="text-danger" id="autosubmit_warning" style="display: none;"> Exam will be auto-submitted soon, finalize your work! </span>
</div>
<div id="exam_region">
	{% for item in exam_data %}
	{% set question_loop = loop %}
	<div class="container-fluid m-2">
	<div class="row">
		<div class="col-sm-12">
		<b>{{"Multiple choice" if item["is_multiple_choice"] else "Single choice"}} question {{question_loop.index}}:</b>
		<p> 
			{% if item["question"] is not string %}
				{% for is_image, section in item["question"] %}
					{% if is_image %} 
						<img src="{{section}}" class="img-thumbnail"></img>
					{% else %}
						{{section}}
					{% endif %} 
				{% endfor %}
			{% else %}
				{{item["question"]}}
			{% endif %} 
		</p>
		</div>
	</div>
	<div class="row">
		{% for answer in item["answers"] %}
		<div class="col-sm-12 col-md-6 col-lg-3">
			{% if item["is_multiple_choice"] %}
				<input class="form-check-input" type="checkbox" name="q_{{question_loop.index0}}" id="qc_{{question_loop.index0}}_{{loop.index0}}" />
				{% if answer is string %}
					{% if "|||" in answer %}
						<img src="{{answer | replace("|||", "")}}" class="img-thumbnail" for="qc_{{question_loop.index0}}_{{loop.index0}}"></img>
					{% else %}
						<label class="form-check-label" for="qc_{{question_loop.index0}}_{{loop.index0}}"> {{answer}} </label>
					{% endif %}
				{% else %} 
					<p class="form-check-label" for="qc_{{question_loop.index0}}_{{loop.index0}}">
					{% for is_image, section in answer %}
						{% if is_image %} 
							<img src="{{section}}" class="img-thumbnail"></img>
						{% else %}
							{{section}}
						{% endif %} 
					{% endfor %}
					</p>
				{% endif %}
			{% else %}
				<input class="form-check-input" type="radio" name="q_{{question_loop.index0}}" id="qr_{{question_loop.index0}}_{{loop.index0}}" />
				{% if answer is string %}
					{% if "|||" in answer %}
						<img src="{{answer | replace("|||", "")}}" class="img-thumbnail" for="qr_{{question_loop.index0}}_{{loop.index0}}"></img>
					{% else %}
						<label class="form-check-label" for="qr_{{question_loop.index0}}_{{loop.index0}}"> {{answer}} </label>
					{% endif %}
				{% else %} 
					<p class="form-check-label" for="qr_{{question_loop.index0}}_{{loop.index0}}">
					{% for is_image, section in answer %}
						{% if is_image %} 
							<img src="{{section}}" class="img-thumbnail"></img>
						{% else %}
							{{section}}
						{% endif %} 
					{% endfor %}
					</p>
				{% endif %}
			{% endif %}
		</div>
		{% endfor %}
	</div>
	</div>
	{% endfor %}
</div>
<div class="m-2 pt-4" id="submit_region">
	<div class="input-group" style="display: none;">
		<div class="input-group-prepend">
			<span class="input-group-text">Feedback</span>
		</div>
		<textarea class="form-control" aria-label="Write your feedback/complaints here"></textarea>
	</div>
	<!-- <button class="mx-2 btn btn-success" onclick="submit(event)">Submit Answers</button> -->
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmation_modal" onclick="updateModal()">Submit Answers</button>
</div>
<div id="finished_region" class="container-fluid" style="display: none;">
	<p id="finished_message">The test had already been attempted.</p>
	<h3 id="score_message" {% if score is not defined or score is not number %} style="display: none;" {% endif %}>Score: {{ score }}</h3>
</div>

<div class="modal fade" id="confirmation_modal" tabindex="-1" role="dialog" aria-labelledby="confirmation_title" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmation_title">Confirm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Do you want to submit your answers? <b>You cannot change them once submitted.</b>
				<div id="review_panel" />
				<label class="text-danger" id="warning_label"><b>You still have questions unanswered!</b></label>
			</div>
			<div class="modal-footer">
				<button id="confirmation_cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button id="confirmation_submit" type="button" class="btn btn-primary" data-dismiss="modal" onclick="submit(event)">Submit</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src={{ url_for('static', filename="utils.js") }}></script>
<script src={{ url_for('static', filename="exam.js") }}></script>
<script>
	var elapsed_time = {{ elapsed | safe }};
	var remaining_time = {{ remaining | safe }};
	var exam_data_length = {{ exam_data | length }};
	{% if submitted %}
		console.log("Answers already submitted, hiding.");
		$("#exam_region").hide(); $("#submit_region").hide(); $("#finished_region").show(); 
		$("#timer_wrapper").hide();
	{% else %}
		runTimer(elapsed_time, remaining_time);
	{% endif %}
</script>
{% endblock %}
