{% extends 'shared/base.html' %}
{% block content %}
<div class="container-fluid">
	<h1>{{title}}</h1>
	<p>{{message}}</p>
	{% if error is defined %}
	<span class="text-danger">Error: {{error}}</span>
	{% endif %}
	<form id="generic_form" enctype="multipart/form-data" method="POST" action="generic_submit">
		<input id="id" name="id" value={{submit_key}} readonly hidden></input>
		{% for field in input_fields %}
			<div class="form-group">
				<label for="{{field["id"]}}"> {{field["name"]}} </label>
				<input type="{{field["type"]}}" class="form-control" id="{{field["id"]}}" name="{{field["id"]}}"></input>
				{% if "help_msg" in field %}
					<small id="{{field["id"]}}_help" class="form-text text-muted"> {{field["help_msg"]}} </small>
				{% endif %}
			</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary"> Submit </button>
	</form>
	</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
