<!doctype html>
<html lang="en">
	<head>
		<title>Manage Session</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href="/">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="data">Data</a>
					</li>
					<li class="nav-item" hidden>
						<a class="nav-link" href="#">Manage</a>
					</li>
				</ul>
			</div>
		</nav> 
		<div class="container-fluid m-2"> 
			<h2>Session</h2>
			<p> Session <b>{{session_data["setting"].get("session_name", "-")}}</b> with ID: {{ template_key }}</p>
			<p> 
			{% if "session_start" in session_data["setting"] %}
				Start at: <b>{{ session_data["setting"]["session_start"] }}</b>
			{% else %}
				No start date.
			{% endif %}
			<br />
			{% if "session_end" in session_data["setting"] %}
				End at: <b>{{ session_data["setting"]["session_end"] }}</b>
			{% else %}
				No end date.
			{% endif %}
			</p>
			<p> TODO add statistics </p>
			<p> Entry link for new enters: <a href="identify?template_key={{template_key}}">Link</a> </p>
		</div>
		<div class="table-responsive container-fluid p-2">
			<table id="session_table" class="table table-hover table-bordered">
				<thead class="thead-light">
					<!-- <tr>
						<th colspan="2">Session ID</th>
						<th rowspan="2">Students &amp; Status</th>
						<th colspan="2">Scoreboard</th>
						<th colspan="2">Links</th>
					</tr>
					<tr>
						<th> Student </th>
						<th> Status </th>
					</tr> 
					-->
					<tr>
						<th>Student ID</th>
						<th>Student Name</th>
						<th>Status</th>
						<th>Links</th>
					</tr>
				</thead>
				<tbody>
					{% for student_key, student_info in session_data["student"].items() %}
						<tr id="{{student_key}}">
							<td> {{ student_key }} </td>
							<td> {{ student_info["student_name"] }} </td>
							{% if "answers" in student_info %}
							<td> 
								<span class="text-success">{{ student_info["score"] }} </span> 
								<span> / {{ session_data.get("maximum_score", 10.0) }} </span>
							</td>
							{% else %}
							<td> Working </td>
							{% endif %}
							<td> <a href="enter?key={{student_key}}">Exam Link</a> </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div id="button_bar" class="container-fluid">
			<button class="mx-2 btn btn-success" onclick="alert(event)">Download Result</button>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html> 
