{% extends 'shared/base.html' %}
{% block content %}
<div class="container-fluid m-2"> 
	<h2>Session</h2>
	<p> Session <b>{{session_data["setting"].get("session_name", "-")}}</b> with ID: {{ template_key }}</p>
	<p> 
	{% if "session_start" in session_data["setting"] %}
		Start at: <b>{{ session_data["setting"]["session_start"] }}</b>
	{% else %}
		No start date.
	{% endif %}
	<br />
	{% if "session_end" in session_data["setting"] %}
		End at: <b>{{ session_data["setting"]["session_end"] }}</b>
	{% else %}
		No end date.
	{% endif %}
	</p>
	<p> TODO add statistics </p>
	<p> Entry link for new enters: <a href="identify?template_key={{template_key}}">Link</a> </p>
</div>
<div class="table-responsive container-fluid p-2">
	<table id="session_table" class="table table-hover table-bordered">
		<thead class="thead-light">
			<!-- <tr>
				<th colspan="2">Session ID</th>
				<th rowspan="2">Students &amp; Status</th>
				<th colspan="2">Scoreboard</th>
				<th colspan="2">Links</th>
			</tr>
			<tr>
				<th> Student </th>
				<th> Status </th>
			</tr> 
			-->
			<tr>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Status</th>
				<th>Links</th>
			</tr>
		</thead>
		<tbody>
			{% for student_key, student_info in session_data["student"].items() %}
				<tr id="{{student_key}}">
					<td> {{ student_key }} </td>
					<td> {{ student_info["student_name"] }} </td>
					{% if "answers" in student_info %}
					<td> 
						<span class="text-success">{{ student_info["score"] }} </span> 
						<span> / {{ session_data.get("maximum_score", 10.0) }} </span>
					</td>
					{% else %}
					<td> Working </td>
					{% endif %}
					<td> <a href="enter?key={{student_key}}">Exam Link</a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="button_bar" class="container-fluid">
	<button class="mx-2 btn btn-success" onclick="alert(event)">Download Result</button>
</div>
{% endblock %}

{% block script %}
{% endblock %}
