{% extends 'shared/base.html' %}
{% block content %}
<div class="m-2 p-2">
	{% for x, y, height, width, pointlist, attr in polygons %}
	<svg height="{{height}}" width="{{width}}" style="position: absolute; left: {{x}}, top {{y}}">
		<polygon 
			points="{% for px, py in pointlist %} {{px}},{{py}} {% endfor %}"
			style="fill:{{attr.get("fg", "lime")}};stroke:{{attr.get("bg", "black")}};stroke-width:1" />
		{% if "text" in attr and "center" in attr %}
			<g font-size="30" fill="black" text-anchor="middle">
				<text x="{{attr["center"][0]}}" y="{{attr["center"][1]}}">
					{{attr["text"]}}
				</text>
			</g>
		{% endif %}
	</svg>
	{% endfor %}
</div>
{% endblock %}

{% block script %}
{% endblock %}
