{% extends 'shared/base.html' %}
{% block content %}
<div id="bpmn_canvas" style="flex: auto">
</div>

<div id="button_bar" style="position: fixed; bottom: 20px; left: 20px">
	<button id="save_button" type="button" class="btn btn-success">Save</button>
	{% if can_model %}
		<button id="load_button" type="button" class="btn btn-primary" onclick="open_graph_from_server(event)">Load</button>
		<button id="upload_button" type="button" class="btn btn-outline-primary" onclick="upload_graph_into_server(event)">Upload</button>
	{% else %}
		<button id="load_button" type="button" class="btn btn-primary" onclick="open_graph_from_online_link(event)">Load</button>
	{% endif %}
</div>

<a id="hidden_xml_link" style="display: none;">Save Link</a>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@17.0.2/dist/assets/bpmn-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@17.0.2/dist/assets/diagram-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@17.0.2/dist/assets/bpmn-js.css" />
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@17.0.2/dist/assets/bpmn-font/css/bpmn.css" />
{% endblock %}

{% block script %}
<!-- Unusable
<script src="https://cdn.jsdelivr.net/npm/connect-it/dist/connect-it.js"></script>
<script src="https://unpkg.com/connect-it/dist/connect-it.js"></script> -->

<script src="https://unpkg.com/bpmn-js@17.0.2/dist/bpmn-viewer.development.js"></script>
{% if can_model %}
	<script src="https://unpkg.com/bpmn-js@17.0.2/dist/bpmn-modeler.development.js"></script>
{% endif %}
<script src={{ url_for('static', filename="self_learn.js") }}></script>
{% endblock %}
