{% extends 'shared/base.html' %}
{% block content %}
<div class="container-fluid m-2"> 
	<h2>Session Manager</h2>
	<p> 
	Listing all sessions, allowing access into managing them. TODO limit to admin privilege only
	</p>
</div>
<div class="table-responsive container-fluid p-2">
	<table id="session_table" class="table table-hover table-bordered">
		<thead class="thead-light">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Students</th>
				<th>Time</th>
				<th>Manage Link</th>
				<th>Delete Session</th>
			</tr>
		</thead>
		<tbody>
			{% for key, session in all_session_data.items() %}
				{% set srs = (session["student"] | length) %}
				{% set student_list = session["student"].items() | list %}
				<tr class="session_{{key}}">
					<td rowspan="{{srs if srs > 0 else 1}}">{{key}}</td>
					<td rowspan="{{srs if srs > 0 else 1}}" id="session_name">{{session["setting"].get("session_name", "-")}}</td>
					{% if srs > 0 %}
						{% set std = student_list[0][1] %}
						<td>{{"{:s}, enter at {}, result {}".format(std["student_name"], std["start_time"], std.get("score", "N/A"))}}</td>
					{% else %}
						<td></td>
					{% endif %}
					<td rowspan="{{srs if srs > 0 else 1}}">{{ "{} min, {} - {}".format(session["setting"].get("exam_duration", "unlimited"), session["setting"].get("session_start", "N/A"), session["setting"].get("session_end", "N/A")) }}</td>
					<td rowspan="{{srs if srs > 0 else 1}}">
						<a href="single_manager?template_key={{key}}&key={{session["admin_key"]}}">Manage Link</a>
					</td>
					<td rowspan="{{srs if srs > 0 else 1}}">
						<button type="button" class="close" aria-label="Close" onclick="show_confirmation_delete_session('{{key}}', '{{session["admin_key"]}}')"><span aria-hidden="true">&times;</span></button>
					</td>
				</tr>
				{% for k, std in student_list[1:] %}
				<tr class="session_{{key}}">
					<td> {{"{:s}, enter at {}, result {}".format(std["student_name"], std["start_time"], std.get("score", "N/A"))}}</td>
				</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="container-fluid">
	<span id="status_text"></span>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true" id="confirm_modal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal_label">Confirm deletion</h4>
				<button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				Do you wish to delete session <b id="confirm_session_name"> </b> of ID <b id="confirm_session_id"> </b>?
				<br />
				<span class="text-danger">This action is irreversible!</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-danger" onclick="delete_session()">Yes</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src={{ url_for('static', filename="manager.js") }}></script>
{% endblock %}

