{% extends 'shared/base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/3.8.2/billboard.min.css" integrity="sha512-5Z+l18yUdjczY7Dd2MGiuq7F/qJub3qg4f49WJqiobQ+td/tXUFOUl2ivh5EtmpPBQtNXtsd8w7q7ardqADR6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}
<div class="container-fluid m-2"> 
	<h2>Session</h2>
	<p> Session <b>{{session_data["setting"].get("session_name", "-")}}</b> with ID: {{ template_key }}</p>
	<p> 
	{% if "session_start" in session_data["setting"] %}
		Start at: <b>{{ session_data["setting"]["session_start"] }}</b>
	{% else %}
		No start date.
	{% endif %}
	<br />
	{% if "session_end" in session_data["setting"] %}
		End at: <b>{{ session_data["setting"]["session_end"] }}</b>
	{% else %}
		No end date.
	{% endif %}
	</p>
	<p> TODO add statistics </p>
	<p> Entry link for new enters: <a href="identify?template_key={{template_key}}">Link</a> </p>
</div>
<div class="table-responsive container-fluid m-2" style="max-height: 560px;">
	<table id="session_table" class="table table-hover table-bordered overflow-auto">
		<thead class="thead-light">
			<tr>
				<th style="position: sticky; top: 0; z-index: 5;">Student ID</th>
				<th style="position: sticky; top: 0; z-index: 5;">Student Name</th>
				<th style="position: sticky; top: 0; z-index: 5;" colspan="2">Status</th>
				<th style="position: sticky; top: 0; z-index: 5;">Links</th>
			</tr>
		</thead>
		<tbody>
			{% for student_key, student_info in session_data["student"].items() %}
				<tr id="{{student_key}}" st_id="{{student_info["student_id"]}}" st_sc={{student_info["score"]}}>
					<td> {{ student_key }} </td>
					<td> {{ student_info["student_name"] }} </td>
					{% if "answers" in student_info %}
						{% if True or "visual_chart" in session_data["setting"] %}
							<td>
								<div id="graph_{{ student_key }}" chart_type="{{session_data["setting"]["visual_chart"]}}" style="max-width: 120px; max-height: 120px;"></div>
							</td>
						{% endif %}
						<td>
							<span class="text-success">{{ "%.2f"|format(student_info["score"])}} </span> 
							<span> / {{ "%.2f"|format(session_data.get("maximum_score", 10.0)) }} </span>
						</td>
					{% else %}
					<td colspan="2" id="working_{{ student_key }}"> Working </td>
					{% endif %}
					<td> <a href="enter?key={{student_key}}">Exam Link</a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		<div id="graph_test_student" chart_type="radar">
		</div>
	</div>
</div>
<div class="container-fluid d-flex flex-row" id="button_bar">
	{% if "student_list" in session_data["setting"] %}
		<input type="file" id="fill_target" onchange="fill_target_selected(event)" hidden></input>
		<button class="mx-2 btn btn-success" onclick="open_fill_target(event)">Fill File</button>
		<span class="m-2"> ID column: </span>
		<div class="dropdown">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="id_col_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				?
			</button>
			<div class="dropdown-menu" aria-labelledby="id_col_dropdown" id="id_col_dropdown_menu">
			</div>
		</div>
		<span class="m-2"> Fill column: </span>
		<div class="dropdown">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="fill_col_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				?
			</button>
			<div class="dropdown-menu" aria-labelledby="fill_col_dropdown" id="fill_col_dropdown_menu">
			</div>
		</div>
		<span class="m-2 text-danger" id="status_label" style="display: 0;"></span>
	{% else %}
		<span class="text-warning">Only restricted test have autofill feature due to ID.</span>
	{% endif %}
	<button class="mx-2 ml-auto btn btn-success" onclick="alert(event)" disabled>Download Result</button>
</div>
<div class="accordion d-flex flex-column my-2" id="accordion_main">
	<div class="card flex-grow-2">
		<div class="card-header" id="accordion_data_header"> 
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#setting_table" aria-expanded="true" aria-controls="setting_table">
				Setting 
			</button>
		</div>
		<div class="collapse show" aria-labelledby="accordion_data_header" data-bs-parent="#accordion_main" id="setting_table">
			{% include 'shared/session_option.tpl' %}
			<button class="my-2 btn btn-success" onclick="update_setting(event)">Update</button>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<!-- 
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/3.8.2/billboard.min.js" integrity="sha512-p6sLeOYPAD6ZErEYF14yMgFxpTV3B7tA4XVxRmzhlOSht4/YJ5JtYVEhAcl8mHQOZ9pKKoD4jvIIaeJl9Gv/WA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/3.8.2/billboard.pkgd.min.js" integrity="sha512-W6rv9SeEbkfttJTjzB6/BJCk8mmcfZzzFn1c8UsgO4UT+W+xvX5MhlcmZuIxVWal8XiJ+K2hwsaz/mcDXF262Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
-->
<script src={{ url_for('static', filename="utils.js") }}></script>
<script src={{ url_for('static', filename="session_option.js") }}></script>
<script src={{ url_for('static', filename="manager.js") }}></script>
<script>
	$(document).ready(function() {
		let range = [...Array(26)].map((_, i) => String.fromCharCode('A'.charCodeAt(0) + i));
		for (const character of range) {
			$("#id_col_dropdown_menu").append( $("<button class=\"m-1 btn btn-link\" onclick=\"update_id_col(event)\">" + character + "</button>") );
			$("#fill_col_dropdown_menu").append( $("<button class=\"m-1 btn btn-link\" onclick=\"update_fill_col(event)\">" + character + "</button>") );
		}
		google.charts.load('current',{packages:['corechart']});
		google.charts.setOnLoadCallback(autoupdate_session_data);
		// update the appropriate setting from default data 
		updateQuestionnaireSetting( {{ session_data["setting"] | safe }} );
		// hide the toggleable setting by default
		$("#setting_table").collapse('hide'); 
	});
</script>
{% endblock %}
